
@import "common/variables1";
@import "common/global1";
.section.login,.section.forget-password,.section.forget {
	header{
		height: auto;
		.search-form{
			display: none;
		}
	}
	h1{
		height:vwxs(246);
		float: inherit;
		img, svg{
			width: vwxs(187);
		}
		.tagline{
			position: absolute;
			left: vwxs(202);
			bottom: 32.5%;
			display: block;
		}
		svg .st1.red{
			// transform: translateX(-140vw) scaleX(0) rotateZ(-47deg);
			transform-origin: 40vw 0vw 0;
		}
	}
	.forget-form{
		.birthday{
			margin-top: vwxs(13);
			margin: vwxs(13) 0 0;
			>aside{
				padding:0;
				&+aside{
					margin-left: vwxs(12);
				}
			}
		}
		.form-control-container{
			&+.form-control-container{
				margin-top: 0.7em;
			}
		}
		select.form-control{
			padding: 0 0 0 vwxs(10);
			// line-height: 1;
			// height: auto;
			&+select.form-control{
				margin-left: vwxs(8);
			}
		}
		input.form-control{
			margin: 0 0 0 vwxs(15);
		}
		a.btn-default{
			margin-top:0;
		}
	}
}
