input[type=text]{
}
.form-control{
	border-radius: none;
	background:none;
	box-shadow: none;
	border: 0;
	color: inherit;
	font-size: inherit;
	line-height: 32px;
	line-height: vwxs(32);
	vertical-align: top;
	margin: 0 0 0 40px;
	margin: 0 0 0 vwxs(40) ;
	// height: vwxs(24);
	padding: 0;
	font-family: inherit;
	display:inline-block;
	max-width:  200px;
	max-width:  vwxs(200) ;
	box-shadow: none;

	&:focus{
		box-shadow: none;
		border-color: #fff;
		~.icon{
			opacity: 1;
		}
	}
	height: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.form-control-container{
	border: 1px solid #fff;
	border: vwxs(1) solid #fff;
	border-radius: 5px;
	border-radius: vwxs(5);
	position: relative;
	&+.form-control-container{
		margin-top: 1.5em;
	}
	.icon{
		position: absolute;
		top: 6px;
		left: 12px;
		max-width: 22px;
		max-height: 22px;
		top: vwxs(6);
		left: vwxs(12);
		max-width: vwxs(22);
		max-height: vwxs(22);
		opacity: 0.5;
		transition-duration: 0.3s;
		margin-top: 0;
	}
}
.has-error{
	border-color: #f00;
	background: rgba(255,0,0,0.1);
	color: rgba(255,255,255,0.75);
	border-radius: 5px;
	border-radius: vwxs(5);
	.form-control:focus{
		box-shadow: none;
	}
}

select.form-control{
	border: 1px solid #fff;
	border: vwxs(1) solid #fff;
	border-radius: 5px;
	border-radius: vwxs(5);
	position: relative;
	height:36px;
	height:vwxs(36);
	margin:0;
	-webkit-appearance:none;
	appearance:none;

	option{
		background: #1e5799;
		border: 1px solid #1e5799;
		border: vwxs(1) solid #1e5799;
		&:hover{
			color: #1e5799;
			background: #fff;
		}
	}
}

.btn-default{
    background: #004374 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4.26px;
    border-radius: 1.33333vw;
    color: #fff;
    display: inline-block;
    font-family: inherit;
    height: 51.2px;
    height: 16vw;
    line-height: 51.2px;
    line-height: 16vw;
    margin: 23px 0;
    margin: 7.2vw 0;
    padding: 0;
    position: relative;
    text-align: center;
    transition: background 0.2s ease-out 0s;
    vertical-align: middle;
    width: 192.853px;
    width: 60.2667vw;
	&:focus{
		outline: none;
	}
	&:hover,&:focus,&:active{
		background: #003161 !important;
		color: inherit !important;
	}
}
.btn-container{
	a{
		padding: 0 10px 0  15px;
		padding: 0 vwxs(10) 0  vwxs(15);
		line-height: 20px;
		line-height: vwxs(20);
		height: 22px;
		height: vwxs(22);
		display: inline-block;

		&+a{
			border-left: 1px solid #fff;
			border-left: vwxs(1) solid #fff;
		}
	}
}