body .content .row.index{
	margin: 0 auto;
}

.index {
	margin:0 auto;
	width: 320px;
	width: vwxs(320);
	padding-top:15px;
	padding-top:vwxs(15);
	.grid{
		margin-top: 20px;
		margin-top: vwxs(20);
		padding: 0 10px;
		&:before{
			width: 100%;
			display: block;
			content:'';
			border-top: 6px solid currentColor;
			border-top: vwxs(6) solid currentColor;
		}
		a{
			color:inherit;
			background-color: #fff;
			width: 100%;
			display: block;
			height: 134px;
			height: vwxs(134);
			border-width: 0 1px 1px;
			border-width: 0 vwxs(1) vwxs(1);
			border-color: #dfdfdf;
			border-style: solid;
			background-repeat: no-repeat;
			vertical-align: middle;
			line-height: 50px;
			line-height: vwxs(50);
			padding-top: 80px;
			padding-top: vwxs(80);
			span{
				line-height: 1.1;
				display: inline-block;
				height: 50px;
				height: vwxs(50);
			}
			img{
				position: absolute;
				left:50%;
				margin-top: -10px;
				margin-left: -18px;
				top:-10%;
			}
		}


		&:nth-child(1){
			color: #27a248;
			a{
				img{
					width: 40px;
					height: 170px;
				}
			}
		}
		&:nth-child(2){
			color: #e99619;
			a{
				img{
					width: 40px;
					height: 170px;
				}
			}
		}
		&:nth-child(3){
			color: #008fc5;
			a{
				img{
					width: 40px;
					height: 170px;
				}
			}
		}
		&:nth-child(4){
			color: #eb174b;
			a{
				img{
					top: 0;
					margin-top: -40px;
					width: 40px;
					height: 170px;
				}
			}
		}
	}
}